html {
    box-sizing: border-box;
  }
  
  *,
  :after,
  :before {
    box-sizing: inherit;
  }
  
  $primary:  rgb(000, 000, 000);
  $second: rgb(011, 024, 030);
  $button: rgb(249, 184, 096);
  $fontcolor:rgb(255, 255, 255);
  $font-base: 'Oswald';
  

  .menu {
    margin-top: 15%;
    margin-left: 50%;
    font-size: $font-base;
    
  
  &__checkbox {
    position: absolute;
    left: -9999px;
  }
  &__toggler {
    cursor: pointer;
  }
  &__list1 {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $primary;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $primary;
  }

  &__item {
    list-style-type: none;
    padding: 1%;
  }
  &__link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: $fontcolor;
    margin-right: 15%;
  }
  &__link:hover {
    background-color: $second;
  }
  }
  .menu__checkbox:checked ~ .menu__list {
    display: block;
  }
  