<div class="navSoc">
    <a href="https://www.facebook.com/people/ROOTS-CAMP/100082984676452/" target="_blank">
        <img class="logoMini" src="/assets/images/fb.png" alt="Odkaz na Facebook">
    </a>

    <a href="https://www.instagram.com/rootscampcz/?igshid=YmMyMTA2M2Y%3D" target="_blank">
        <img class="logoMini" src="/assets/images/insta (1).png" alt="Odkaz na Instagram">
    </a>
</div>