<!DOCTYPE html>
<html lang="cs">
<head>
    {% include "favicons.njk" %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Roots Camp</title>

	<!-- Google Fonts: Montserrat -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
	<link rel="stylesheet" href="/assets/css/styleBouda.css">

</head>
<header class="header">
    <!-- Logo -->
    <a href="/index.html">
        <img class="logo" src="/assets/images/logo do levého horního rohu.png" alt="ROOTSCAMP">
    </a>
    <!-- Hamburger icon -->
    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
    <!-- Menu -->
    <nav class="nav">
        <ul class="menu">
            <li><a href="/index.html">Úvod</a></li>
            <li><a href="/o-nas/">O nás</a></li>
            <li class="subnav">
                <p class="subnavbtn">Kempy<i class="fa fa-caret-down"></i></p>
                <div class="subnav-content">
                    <a href="/kempy/">O kempech</a>
                    <a href="/planovane-akce/">Plánované akce</a>
                    <a href="/kdeJsmeByli/">Kde jsme byli</a>
                </div>
            </li>
            <li><a href="/treninky/">Tréninky</a></li>
        </ul>
        <div class="navSoc">
            <a href="https://www.facebook.com/people/ROOTS-CAMP/100082984676452/" target="_blank">
                <img class="logoMini" src="/assets/images/fb.png" alt="Odkaz na Facebook">
            </a>
    
            <a href="https://www.instagram.com/rootscampcz/?igshid=YmMyMTA2M2Y%3D" target="_blank">
                <img class="logoMini" src="/assets/images/insta (1).png" alt="Odkaz na Instagram">
            </a>
        </div>
    </nav>
  
</header>


<body>
<main class = "main">
    {{ content | safe }}

</main>
<footer>
	&copy; 2023, <a class="reteza" href="http://reteza.cz/">reTeza</a>
</footer>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="/assets/js/bouda.js"></script>
</body>
</html>